<!-- 
Website developed by Anandhu Mohan for the Alumni Relations Cell of a college. 
Features include:
  - Job portal, Internship portal, Mentorship portal
  - Search functionality for users, students, and alumni
  - Group chat and private individual chat systems
  - Notification system and user profiles for each member
  - Admin panel to control the entire site, handle issues, and manage inquiries
  - Superadmin overseeing the activities of admins and users
  - Maintainer responsible for the main page content and styling, visible to users and external visitors
  - Advanced machine learning features that sort jobs and internships based on user profile preferences
  - Periodic email notifications and security enhancements
-->

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>

     body{
        background-image: url('/images/logo2.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
    }

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
    }

    .message_r {
        padding: 10px;
        position: relative;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
        background-color: #e8e6e6;
        max-width: 900px;
        margin-right: 10px;
        border-radius: 10px;
    }

    .message_r:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    .user_circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
    }

    .user_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .user_name {
        font-weight: 600;
        cursor: pointer;
        color: rgb(78, 74, 74);
        display: inline-block;
    }

    .actual_message {
        margin-top: 40px;
        margin-bottom: 15px;
        margin-left: 20px;
        word-wrap: break-word;
        font-weight: 600;
    }

    .p_here{
        font-weight: 500;
        color:#0868b7;
        margin-left:20px;
        font-size:14px;
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .p_p_here{
        font-weight: 600;
        color:#0868b7;
    }

    @media (max-width: 650px) {
        .actual_message {
            font-size: 15px;
        }
    }

    @media (max-width: 460px) {
        .actual_message {
            font-size: 14px;
        }
    }

    @media (max-height: 500px) {
        .message{
            margin-right: 2px;
        }
    }

    @media (max-width: 372px) {
        .p_here{
           font-size: 13px;
        }
    }

    .profileImageAlternate {
        -webkit-user-drag: none;
        user-drag: none;
    }

</style>
</head>

<div id="chat-container" style="padding-top: 130px;" >
    <div class="message_r">
        <p class= "p_p_here blackName">Reported by : </p>
        <div style="display: flex;">
            <div class="user_circle" onclick="adminViewProfile('{{report.reporter_id}}')">
                <img class="user_image profileImageAlternate" src="/user-images/{{report.reporter_id}}.jpg" alt="User Image">
            </div>            
            <div class="user_name">{{report.Name_IN}}</div>
        </div>
        <div style="display: flex;margin-top:30px;">
            <p class= "p_p_here blackName">Reported : </p>
            <div class="user_circle" onclick="adminViewProfile('{{report.reported_id}}')">
                <img class="user_image profileImageAlternate" src="/user-images/{{report.reported_id}}.jpg" alt="User Image">
            </div>            
        </div>
        <div class="actual_message">{{{report.report_reason}}}</div>
        <p class="p_here blackName" >posted time : {{report.reported_time}}</p>
    </div>
</div>
    

<script>
    

    function adminViewProfile(profileId) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/admin/admin-view-profile';
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'profileId';
        input.value = profileId;
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }

    
</script>