<!-- 
Website developed by Anandhu Mohan for the Alumni Relations Cell of a college. 
Features include:
  - Job portal, Internship portal, Mentorship portal
  - Search functionality for users, students, and alumni
  - Group chat and private individual chat systems
  - Notification system and user profiles for each member
  - Admin panel to control the entire site, handle issues, and manage inquiries
  - Superadmin overseeing the activities of admins and users
  - Maintainer responsible for the main page content and styling, visible to users and external visitors
  - Advanced machine learning features that sort jobs and internships based on user profile preferences
  - Periodic email notifications and security enhancements
-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<style>

    body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .btn_view_edit_job{
        width: 90px;
        background-color: rgb(38, 82, 164);
        color: white;
        font-weight: 700;
        border-radius: 10px;
        padding: 10px;
        transition: background-color 0.3s ease;
    }

    .btn_view_edit_job_delete{
        margin-left: 10px;
    }
    
    .btn_view_edit_job_request{
        margin-left: 10px;
        width: 150px;
    }
    
    .btn_view_edit_job:hover{
        background-color:  rgb(123, 180, 230);
        color: rgb(38, 82, 164);
    }

    .jobsssdata{
        margin-top: 50px; 
        background-color: rgba(226, 229, 230, 0.8);
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
        border-radius: 15px;
        display:flex;
        flex-direction: row;
        align-items: center;
        overflow: auto; 
        word-wrap: break-word;
    }

    .jobss_datas{
        margin:10px;
        max-width: 510px;
    }

    .job_image_data{
        object-fit: contain; 
        border-radius: 10px; 
        max-width: 500px;
        margin-left: 60px;
    }

    .labelled_job_data{
        font-weight: 500;
    }

    @media (max-width: 1200px) {
        .jobss_datas{
            max-width: 350px;
        }
    }
    
    @media (max-width: 1000px) {
        .jobsssdata{
            flex-direction: column;
        }
        .job_image_data{
            margin-left: 10px;
            margin-bottom: 20px;
        }
    }

    @media (max-width: 766px) {
        .job_image_data{
            margin-left: 1px;
        }
    }

    @media (max-width: 530px) {
        .job_image_data{
            max-width: 400px;
        }
    }

    @media (max-width: 430px) {
        .job_image_data{
            max-width: 350px;
        }
        .btn_view_edit_job{
            width: 90px;
            font-weight: 500;
            padding: 8px;
        }
        .btn_view_edit_job_edit{
            width: 80px;
        }
        .btn_view_edit_job_request{
            margin-left: 7px;
            width: 130px;
        }
    }

    @media (max-width: 380px) {
        .job_image_data{
            max-width: 320px;
        }
    }

    @media (max-width: 397px) {
        .jobss_datas{
            padding:8px;
            max-width: 300px;
        }
    }

    .job_image_img{
        position: relative;
    }

    .job_image_i{
        position: absolute;
        top: 10px;
        right: 10px;
    }

</style>

<section class="container" style="padding-top: 180px; padding-bottom:30px;">
    {{#each jobs}}
    <div class="jobsssdata" id="{{this._id}}">
        <div class="jobss_datas" >
            <h6><strong>Company Name</strong></h6>
            <p class="card-text labelled_job_data">{{this.CompanyName}}</p>
            {{#if this.CompanyDescription}}
            <h6><strong>Company Description</strong></h6>
            <p class="card-text labelled_job_data">{{this.CompanyDescription}}</p>
            {{/if}}
            <h6><strong>Job Role</strong></h6>
            <p class="card-text labelled_job_data">{{this.Jobrole}}</p><br>
            {{#if this.jobDescription}}
            <h6><strong>Job Description</strong></h6>
            <p class="card-text labelled_job_data">{{this.jobDescription}}</p><br>
            {{/if}}
            <h6><strong>Eligibility</strong></h6>
            <p class="card-text labelled_job_data">{{this.Eligibility}}</p>
            <div class="button-container">
                <a href="javascript:void(0)" onclick="passEditJobId('{{this._id}}')"  class="btn btn_view_edit_job btn_view_edit_job_edit darkcolorchanger2">Edit</a>
                <a href="javascript:void(0)"  class="btn btn_view_edit_job btn_view_edit_job_delete darkcolorchanger2" onclick="deleteJob('{{this._id}}')">Delete</a>
                <a href="javascript:void(0)" onclick="passViewRequestJobId('{{this._id}}')"  class="btn btn_view_edit_job btn_view_edit_job_request darkcolorchanger2">view requests</a>
            </div>  
        </div>
        {{#if this.hasImage}}
            <div class="job_image_img" id="job_image_{{this._id}}">
                <img class="job_image_data" src="/job-images/{{this._id}}.jpg" alt="No image available">   
                <i class="fa-solid fa-trash fa-bounce job_image_i" onclick="del_job_icon('{{this._id}}')"></i>
            </div>
        {{/if}}
    </div>
    {{/each}}
</section>

<script>

    function deleteJob(jobId) {
        if (confirm("Do you want to delete this Job from the Portal?")) {
            $.ajax({
            url: '/delete-job-form-portal',
            method: 'post',
            data: {
                JoB: jobId,
            },
            success: function (response) {
                if (response.deleteJob) {
                    var job = document.getElementById(jobId)
                    if(job){
                        job.remove()
                    }
                }
            },
            });
        }
    }


    function passEditJobId(Jobid) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/edit_job';
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'Jobid';
        input.value = Jobid;
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }


    function passViewRequestJobId(Jobid) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/view_job_requests';
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'Jobid';
        input.value = Jobid;
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }

    function del_job_icon(jobID){
        if (confirm("Do you want to delete this Job image the Portal?")) {
            $.ajax({
            url: '/delete_jobimage_from_portal',
            method: 'post',
            data: {
                JoB: jobID,
            },
            success: function (response) {
                if (response.deleteJobImage) {
                    const jobImage_container = document.getElementById(`job_image_${jobID}`);
                    if(jobImage_container){
                        jobImage_container.remove()
                    }
                }
            },
            });
        }
    }
    
</script>
