<!-- 
Website developed by Anandhu Mohan for the Alumni Relations Cell of a college. 
Features include:
  - Job portal, Internship portal, Mentorship portal
  - Search functionality for users, students, and alumni
  - Group chat and private individual chat systems
  - Notification system and user profiles for each member
  - Admin panel to control the entire site, handle issues, and manage inquiries
  - Superadmin overseeing the activities of admins and users
  - Maintainer responsible for the main page content and styling, visible to users and external visitors
  - Advanced machine learning features that sort jobs and internships based on user profile preferences
  - Periodic email notifications and security enhancements
-->

<style>

    body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .common_feature{
        background-color: rgb(199, 205, 207);
        border-radius: 6px;
        margin-top: 15px;
        margin-bottom: 25px;
        padding: 25px;
        padding-left: 25px;
        padding-bottom: 10px;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }

    .common_feature:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }
    .rectified_p{
        font-weight: bold;
        font-size: 14px;
        color: rgb(6, 116, 14);
    }
    
    .text_content{
        font-weight: 600;
    }

    .all_a_here{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .all_a_here:hover{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .profile-pic-chat {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
    }

    .btn_confirm_pass_updation{
        background-color: rgb(93, 138, 222);
        color: white;
        padding: 5px;
        font-size: 15px;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        text-decoration: none;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn_confirm_pass_updation:hover{
        background-color: rgb(46, 98, 194);
        color: white;
        text-decoration: none;
    }

    .spacer{
        background-color: rgb(46, 98, 194);
        color: white;
        border-radius: 0px 20px 0px 20px;
        padding: 5px;
        font-weight: bold;
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: center;
    }

    .container{
        padding-top: 200px;
    }

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
        .container{
            padding-top: 150px;
        }
    }

    @media (max-width: 549px) {
        .text_content{
            font-size: 14px;
        }
        .btn_confirm_pass_updation{ 
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.6px;
        }
    }

    .profileImageAlternate {
        -webkit-user-drag: none;  /* Safari */
        user-drag: none;          /* Non-prefixed version */
    }

</style>

<section class="container" >
    {{#each firstNotification}}
    <div class="All_Notif" >

        {{#if this.upass_diff}}
            <div class="pass_change_notif common_feature">
                <p class="text_content">Your password has been updated. is that you or done with your permission?</p>
                <a href="javascript:void(0)" class=" btn_confirm_pass_updation" onclick="confirmUpdatePassYes()">yes</a>
                <a href="/confirm_update_pass_no" style="margin-left: 20px;" class=" btn_confirm_pass_updation" >no</a>
            </div>
        {{/if}}

        {{#if this.adminViewConsentPending}}
            <div class="admin_view_privatechat common_feature">
                <p class="text_content">Admin view your deleted private with someone.Is it with your conscent.</p>
                <a href="javascript:void(0)" class=" btn_confirm_pass_updation" onclick="confirmPrivatechatAccessPassYes()">yes</a>
                <a href="/confirm_privatechat_access_pass_no" style="margin-left: 20px;" class=" btn_confirm_pass_updation">no</a>
                <a href="/admin_view_detail_onechat" class=" btn_confirm_pass_updation" style="margin-left: 20px;">view details</a>
            </div>
        {{/if}}

        {{#if this.new_mentor_reply_notif}}
            <a class="all_a_here" href="/mentorshipportal">
                <div class="mentor_got_reply_notif common_feature">
                    <p class="text_content">You got reply for {{mentorQuestionNumbers}} question you posted in mentorship portal since you left</p>
                </div>
            </a>
        {{/if}}

        {{#if this.new_admin_mess_notif}}
            <a class="all_a_here" onclick="directMessageAdmin('{{../admin_id}}')" href="javascript:void(0)">
                <div class="new_admin_personal_notif common_feature">
                    <p class="text_content">you got {{total_new_Admin_mess}} direct message from admin.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.new_messenger_count_notif}}
            <div class="new_messenger_notif common_feature">
                {{#each newmessages}}
                    <div style="display: flex;align-items: center;">
                        <a style="text-decoration: none;" href="javascript:void(0)" onclick="viewProfile('{{this._id}}')">
                            <img class="profile-pic-chat profileImageAlternate" src="/user-images/{{this.id}}.jpg" alt="User Image">
                        </a>
                        <a class="all_a_here" href="/chatwith">
                            <p class="text_content" style="margin-bottom: 0px;">You got a new message from {{this.name}}</p>
                        </a>
                    </div>
                {{/each}}
            </div>
        {{/if}}

        {{#if this.new_admin_broad_notif}}
            <a class="all_a_here" href="/one_on_admin_broadcast">
                <div class="new_admin_broadcast_notif common_feature">
                    <p class="text_content">You nave {{admin_broadcast}} new unreaded  broadcasted messages from admin.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.new_mess_notif}}
            <a class="all_a_here" href="/chatwith">
                <div class="new_message_notif common_feature">
                    <p class="text_content">You nave {{total_new_mess}} new unreaded messages in your chat.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.job_notif}}
            <a class="all_a_here" href="/job_portal">
                <div class="jobs_add_notif common_feature">
                    <p class="text_content">{{jobcount}} new jobs posted since you left from job portal.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.groupchat_notif}}
            <a class="all_a_here" href="/groupchat">
                <div class="groupchat_new_notif common_feature">
                    <p class="text_content">There are unchecked {{groupchatcount}} new groupchat messaged for you.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.intern_notif}}
            <a class="all_a_here" href="/internship_portal">
                <div class="interns_add_notif common_feature">
                    <p class="text_content">{{interncount}} new internship requests appears since you left from internship portal.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.mentor_notif}}
            <a class="all_a_here" href="/mentorshipportal">
                <div class="mentor_add_notif common_feature">
                    <p class="text_content">You have unchecked new {{NumberInt}} mentorship questions left.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.like_notif}}
            {{#each this.increasedIds}}
                <a href="javascript:void(0)" class="all_a_here" onclick="view_post('{{this._id}}')">
                    <div class="post_like_notif common_feature">
                        <p class="text_content">your post has got {{this.difference}} new likes</p>
                    </div>
                </a>
            {{/each}}
        {{/if}}

        {{#if this.Comment_notif}}
            {{#each this.increasedCommenterIds}}
                <a href="javascript:void(0)" class="all_a_here" onclick="view_post('{{this._id}}')">
                    <div class="post_like_notif common_feature">
                        <p class="text_content">your post has got {{this.difference}} new comments</p>
                    </div>
                </a>
            {{/each}}
        {{/if}}

        {{#if this.ONE_REPLY}}
            {{#each this.DIFFERENCE}}
                <a href="javascript:void(0)" class="all_a_here" onclick="view_post('{{this.arrayName}}')">
                    <div class="post_like_notif common_feature" onclick="clear_post_reply_notif('{{this.arrayName}}')">
                        <p class="text_content">your comment has got a reply for a post</p>
                    </div>
                </a>
            {{/each}}
        {{/if}}

        {{#if this.MANY_REPLY}}
            {{#each this.DIFFERENCE}}
                <a href="javascript:void(0)" class="all_a_here" onclick="view_post('{{this.arrayName}}')">
                    <div class="post_like_notif common_feature" onclick="clear_post_reply_notif('{{this.arrayName}}')">
                        <p class="text_content">your comment has got {{this.totalReplyDiff}} replies for a post</p>
                    </div>
                </a>
            {{/each}}
        {{/if}}

        {{#if this.MANY_LIKE}}
            {{#each this.DIFFERENCE}}
                <a href="javascript:void(0)" class="all_a_here" onclick="view_post('{{this.arrayName}}')">
                    <div class="post_like_notif common_feature" onclick="clear_post_like_notif('{{this.arrayName}}')">
                        <p class="text_content">your comment has got many likes for a post</p>
                    </div>
                </a>
            {{/each}}
        {{/if}}

        {{#if this.post_notif}}
            <a class="all_a_here" href="/view-other-post">
                <div class="post_add_notif common_feature">
                    <p class="text_content">You have unchecked {{postcount}} new posts</p>
                </div>
            </a>
        {{/if}}

        {{#if this.new_view_notif}}
            <a class="all_a_here" href="/profile_viewers">
                <div class="user_view_profile_notif common_feature">
                    <p class="text_content">{{new_view_user_count}} new users viewed your profile.</p>
                </div>
            </a>
        {{/if}}
    </div>
    {{/each}}

    <div class="spacer"> Old Notifications </div>

    {{#each remainingNotification}}
    <div class="All_Notif" >

        {{#if this.upass_diff}}
            <div class="pass_change_notif common_feature">
                <p class="text_content">Your password has been updated. is that you or done with your permission?</p>
                <p class="rectified_p">rectified &#10004;</p>
            </div>
        {{/if}}

        {{#if this.adminViewConsentPending}}
            <div class="admin_view_privatechat common_feature">
                <p class="text_content">Admin view your deleted private with someone.Is it with your conscent.</p>
                <p class="rectified_p">rectified &#10004;</p>
            </div>
        {{/if}}

        {{#if this.new_mentor_reply_notif}}
            <a class="all_a_here" href="/mentorshipportal">
                <div class="mentor_got_reply_notif common_feature">
                    <p class="text_content">You got reply for {{mentorQuestionNumbers}} question you posted in mentorship portal since you left</p>
                </div>
            </a>
        {{/if}}

        {{#if this.new_admin_mess_notif}}
            <a class="all_a_here" onclick="directMessageAdmin('{{../admin_id}}')" href="javascript:void(0)">
                <div class="new_admin_personal_notif common_feature">
                    <p class="text_content">you got {{total_new_Admin_mess}} direct message from admin.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.new_messenger_count_notif}}
            <div class="new_messenger_notif common_feature">
                {{#each this.newmessages}}
                    <div style="display: flex;align-items: center;">
                        <a style="text-decoration: none;" href="javascript:void(0)" onclick="viewProfile('{{this._id}}')">
                            <img class="profile-pic-chat profileImageAlternate" src="/user-images/{{this.id}}.jpg" alt="User Image">
                        </a>
                        <a class="all_a_here" href="/chatwith">
                            <p class="text_content" style="margin-bottom: 0px;">You got a new message from {{this.name}}</p>
                        </a>
                    </div>
                {{/each}}
            </div>
        {{/if}}

        {{#if this.new_admin_broad_notif}}
            <a class="all_a_here" href="/one_on_admin_broadcast">
                <div class="new_admin_broadcast_notif common_feature">
                    <p class="text_content">You nave {{admin_broadcast}} new unreaded  broadcasted messages from admin.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.new_mess_notif}}
            <a class="all_a_here" href="/chatwith">
                <div class="new_message_notif common_feature">
                    <p class="text_content">You nave {{total_new_mess}} new unreaded messages in your chat.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.job_notif}}
            <a class="all_a_here" href="/job_portal">
                <div class="jobs_add_notif common_feature">
                    <p class="text_content">{{jobcount}} new jobs posted since you left from job portal.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.groupchat_notif}}
            <a class="all_a_here" href="/groupchat">
                <div class="groupchat_new_notif common_feature">
                    <p class="text_content">There are unchecked {{groupchatcount}} new groupchat messaged for you.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.intern_notif}}
            <a class="all_a_here" href="/internship_portal">
                <div class="interns_add_notif common_feature">
                    <p class="text_content">{{interncount}} new internship requests appears since you left from internship portal.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.mentor_notif}}
            <a class="all_a_here" href="/mentorshipportal">
                <div class="mentor_add_notif common_feature">
                    <p class="text_content">You have unchecked new {{NumberInt}} mentorship questions left.</p>
                </div>
            </a>
        {{/if}}

        {{#if this.like_notif}}
            {{#each this.increasedIds}}
                <a href="javascript:void(0)" class="all_a_here" onclick="view_post('{{this._id}}')">
                    <div class="post_like_notif common_feature">
                        <p class="text_content">your post has got {{this.difference}} new likes</p>
                    </div>
                </a>
            {{/each}}
        {{/if}}

        {{#if this.Comment_notif}}
            {{#each this.increasedCommenterIds}}
                <a href="javascript:void(0)" class="all_a_here" onclick="view_post('{{this._id}}')">
                    <div class="post_like_notif common_feature">
                        <p class="text_content">your post has got {{this.difference}} new comments</p>
                    </div>
                </a>
            {{/each}}
        {{/if}}

        {{#if this.ONE_REPLY}}
            {{#each this.DIFFERENCE}}
                <a href="javascript:void(0)" class="all_a_here" onclick="view_post('{{this.arrayName}}')">
                    <div class="post_like_notif common_feature" onclick="clear_post_reply_notif('{{this.arrayName}}')">
                        <p class="text_content">your comment has got a reply for a post</p>
                    </div>
                </a>
            {{/each}}
        {{/if}}

        {{#if this.MANY_REPLY}}
            {{#each this.DIFFERENCE}}
                <a href="javascript:void(0)" class="all_a_here" onclick="view_post('{{this.arrayName}}')">
                    <div class="post_like_notif common_feature" onclick="clear_post_reply_notif('{{this.arrayName}}')">
                        <p class="text_content">your comment has got {{this.totalReplyDiff}} replies for comment in a post</p>
                    </div>
                </a>
            {{/each}}
        {{/if}}

        {{#if this.MANY_LIKE}}
            {{#each this.DIFFERENCE}}
                <a href="javascript:void(0)" class="all_a_here" onclick="view_post('{{this.arrayName}}')">
                    <div class="post_like_notif common_feature" onclick="clear_post_like_notif('{{this.arrayName}}')">
                        <p class="text_content">your comment has got many likes for a post</p>
                    </div>
                </a>
            {{/each}}
        {{/if}}

        {{#if this.post_notif}}
            <a class="all_a_here" href="/view-other-post">
                <div class="post_add_notif common_feature">
                    <p class="text_content">You have unchecked {{postcount}} new posts</p>
                </div>
            </a>
        {{/if}}

        {{#if this.new_view_notif}}
            <a class="all_a_here" href="/profile_viewers">
                <div class="user_view_profile_notif common_feature">
                    <p class="text_content">{{new_view_user_count}} new users viewed your profile.</p>
                </div>
            </a>
        {{/if}}
    </div>
    {{/each}}
</section>

<script>
   
   
    /*function reloadBaseRoot() {
        fetch('/reload_root_on_leave_notification', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(),
        });
    }
    window.addEventListener('beforeunload', reloadBaseRoot);*/


    window.addEventListener('pageshow', function(event) {
        // Check if the page was loaded from the cache (e.g., back button used)
        if (event.persisted) {
        // Reload the page
        window.location.reload();
        }
    });


    window.addEventListener('pageshow', function(event) {
        var historyTraversal = event.persisted || (typeof window.performance != 'undefined' && window.performance.navigation.type === 2);
        if (historyTraversal) {
            window.location.reload();
        }
    });


    function confirmUpdatePassYes() {
        $.ajax({
            url: '/confirm_update_pass_yes',
            method: 'post',
            data: {},
            success: function (response) {
                if (response.success) {
                    location.reload();
                }
            },
        });
    }


    function confirmPrivatechatAccessPassYes() {
    $.ajax({
        url: '/confirm_privatechat_access_pass_yes',
        method: 'post',
        data: {},
        success: function (response) {
            if (response.success) {
                location.reload();
            }
        },
        error: function (xhr, status, error) {
            console.error(xhr.responseText);
            // Handle error if needed
        }
        });
    }


    function clear_post_reply_notif(post_Id){
        $.ajax({
            url: '/clear_post_reply_notif',
            method: 'post',
            data: {
                pOsTiD: post_Id
            },
        });
    }


    function clear_post_like_notif(post_Id){
        $.ajax({
            url: '/clear_post_like_notif',
            method: 'post',
            data: {
                pOsTiD: post_Id
            },
        });
    }


    function view_post(postID) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/view_post';
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'PoStid';
        input.value = postID;
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }


    function directMessageAdmin(profileId) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/one_on_admin_chat';
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'User_Id';
        input.value = profileId;
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }


    function viewProfile(profileId) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/view-profile';
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'profileId';
        input.value = profileId;
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }

</script>
